<section>
    <app-error-message [errorMessage]="errorMessage"></app-error-message>
    
    <div class="bandeau">
    <!-- <img class="avatar" [src]="memberSi().avatar"> -->
    <div class="identite">
        <h2>Profil</h2>
        
        <p><span>Pseudo :</span> {{friendSi().pseudo}}</p>
        <p><span>Type de divinité :</span> {{friendSi().type_deite}}</p>
        <p><span>Panthéon :</span> {{friendSi().pantheon}}</p>
        <p><span>Présentation :</span> {{friendSi().presentation}}</p>
    </div>

    <!--  A lier -->
    <div class="menuProfil">
        <a href="">Demande d'ami</a>
        <a href="">Envoyer un messages</a>
    </div>
    </div>
    
    <img src="/separateur2.jpg" alt="séparateur" class="separateur">

    <div class="amis">
      <h2>Amis</h2>
      <ul>
        @for (ami of friendSi().amis ; track ami.pseudo) {
        <!-- insérer si ami est connecté en convertissant en couleur -->
          <li class="demande" (click)="goToFriendPage(ami.pseudo)">{{ ami.pseudo }}</li>
        }          
      </ul>
    </div>

    <img src="/separateur1.jpg" alt="séparateur" class="separateur">
  
  <app-error-message [errorMessage]="errorMessage"></app-error-message>
  
  <div class="posts">
    <h2>Posts</h2>
      <ul>
        @for (post of friendSi().mur ; track post.titre) {
          <li class="titrePost unPost">{{ post.titre }}
            <ul>
              <li class="datePost">{{ post.date | date: 'medium'}}</li>
              <li class="contenuPost">{{ post.contenu}}</li>
              <!-- <li>{{ post.photo}}</li> -->
            </ul>
          </li>
        } 
      </ul>
  </div>


    </section>
