


@import url('https://fonts.googleapis.com/css2?family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* weigth 400 ou 700 italic ou normal*/


@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');

  
* {
    margin:0;
    padding: 0;
}

/* variables de style */
:root {
    --txt-titre:#3ad6f2;
    --txt-voyant: #ee670d;
    --txt: #d79e0c;
    --txt-form: black;
    --fond-form: #FFF4B5;
    --fond: rgba(2, 1, 9, 0.91);
    --bouton: #f68134;
    --marque:  #f6c64e;
}

html {
    background-color: var(--fond);
    font-family: "Thasadith", serif;
    font-size: 16px;
    color: var(--txt);
    font-weight: 500;
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
    color: var(--txt);
}