section {
    margin-bottom: 2rem;
}

.bandeau {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 1.5rem;
}

.identite,
.posts,
.amis {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    font-weight: 700;
}

.menuProfil {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
}

.menuProfil a {
    color: var(--txt-titre);
    padding-bottom: 1.5rem;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--txt-titre);
    margin-bottom: 1.3rem;
}

a:hover {
    color: var(--txt-voyant);
}

span {
    font-style: italic;
}

.menuProfil a:hover {
    color: var(--txt-voyant);
}

.amis, .posts {
    margin: 1rem 1.5rem;
}

ul {
    list-style-type: none;
}

.unPost {
    border: 1px var(--marque) solid;
    padding: 0.5rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}
.titrePost {
    color: var(--marque);
}

.contenuPost {
    font-size: 1.1rem;
}

.datePost {
    font-style: italic;
    font-weight: 500;
    font-size: 1rem;
}

.separateur {
    width: 35%;
    margin: 1rem 32%;
}

.recherche {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}
input,
button,
textarea {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  border: 1px solid var(--fond);
  border-radius: 20px;
}

input, textarea {
    padding: 0.1rem 0.5rem;
    margin: 0rem 2rem;
    background-color: var(--fond-form);
}
input {
    width: 12rem;
}

textarea {
    width: 25rem;
    height: 5rem;
}

button {
    background-color: var(--bouton);
    color: black;
    padding: 0rem 1.5rem;
    cursor: pointer;
}

.poster {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    gap: 0.5rem;
    margin-top: 0.5rem;
    align-items: flex-start;
}

.poster button {
    width: 8rem;
}


