.navbar {
    height: 3.5rem;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-left: 1rem;
    flex-wrap: wrap;
}

.nav-piece {
    display: block;
    padding: 0.5rem 1rem 0 1rem;
}

.nav-item {
    width: auto;
    float: right;
    text-decoration: none;
    list-style-type: none;
}

a:hover {
    color: var(--txt-voyant);
}