
<nav class="navbar">
        <ul>
            <li class="nav-item">
                <p class="nav-piece">X membres connectés</p>
            </li>
            <li class="nav-item">
                <a class="nav-piece" routerLink="/login">Se Connecter</a>
            </li>
            <li class="nav-item">
                <a class="nav-piece" routerLink="/createaccount">S'Inscrire</a>
            </li>
        </ul>
        <!-- <div class="d-flex">  barre de recherche
            <div class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Taper un pseudo" [value]="searchInput">
                <button (click)="search()">Rechercher</button>
            </div>
        </div> -->
    
</nav>
