

<nav class="navbar">
    <ul>
        <li class="nav-item">
            <p class="nav-piece">X membres connectés</p>
        </li>
        <li class="nav-item">
            <p class="nav-piece">Y messages non lus</p>
        </li>
        <li class="nav-item">
            <a class="nav-piece" (click)="logOut()" routerLink="/">Se Déconnecter</a>
        </li>
        <li class="nav-item">
            <a class="nav-piece" routerLink="/profile">Ma page</a>
        </li>
    </ul>
    <!-- <div class="d-flex">  barre de recherche
        <div class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Taper un pseudo" [value]="searchInput">
            <button (click)="search()">Rechercher</button>
        </div>
    </div> -->

</nav>
