

<section class="form-signin ">
    <div class="logoBig"></div>
    
    <form (ngSubmit)="sendLogin(myForm)" #myForm="ngForm">
        <h2>Connexion</h2>
        <app-error-message [errorMessage]="errorMessage"></app-error-message>

        @if (myForm.submitted && myForm.invalid) {
            <div class="alert alert-danger" role="alert">
                @if (pseudo.hasError('required')) {
                    <span>Pseudo requis</span>
                }
                @else if (password.hasError('required')) {
                    <span>Mot de passe requis</span>
                }
            </div>
        }

        <div class="form">
            <input name="pseudo" type="text" id="pseudo" class="form-control" placeholder="Superman" required ngModel #pseudo="ngModel">
            <label for="pseudo">Pseudo</label>
        </div>
        <div class="form">
            <input  name="password" type="password" id="password" class="form-control" placeholder="****" required ngModel #password="ngModel">
            <label for="password">Mot de passe</label>
        </div>
        <div class="form">
            <!-- à lier -->
            <p>Mot de passe oublié ?</p>
        </div>

        <button type="submit">Connexion</button>
    </form>
</section>
