<div class="decoHome picHome"></div>
<div class="aPropos">
    <div class="decoHome deco1"></div>
    <div class="paraph1">
        <h2>Qu’est-ce que le Divine Club ?</h2>
        <p>Divine Club est LE réseau social des divinités terrestres, actuelles ou passées, tous panthéons confondus. Un lieu d’échange et de partage pour les dieux, déesses, demi-dieux, demi-déesses, fils et filles de, héros, esprits, ... et autres non-humains des hautes sphères.</p>
    </div>
    <div class="paraph2">
        <h2>Pourquoi s’inscrire au Divine Club ?</h2>
        <p>Publiez vos photos, racontez votre journée, vos évènements, vos blagues sur les mortels ... Discutez avec vos pairs, où que vous soyez. Partagez vos émotions avec vos amis.</p>
    </div>
    <div class="decoHome deco2"></div>
    <div class="paraph3">
        <h2>Crédits</h2>
        <p>Images :</p>
        <p>Sons :</p>
        <p>Police de caractères</p>
        <h2>RGPD</h2>
        <p>...</p>
    </div>
</div>
