<h1>LE RÉSEAU SOCIAL DES DIVINITÉS</h1>
<div class="decoHome picHome"></div>
<div class="aPropos">
    <div class="decoHome deco1"></div>
    <div class="paraph1">
        <h2>Qu’est-ce que le <span>Divine Club</span> ?</h2>
        <p><span>Divine Club</span> est LE réseau social des divinités terrestres, actuelles ou passées, tous panthéons confondus. Un lieu d’échange et de partage pour les dieux, déesses, demi-dieux, demi-déesses, fils et filles de, héros, esprits, ... et autres non-humains des hautes sphères.</p>
    </div>
    <div class="paraph2">
        <h2>Pourquoi s’inscrire au <span>Divine Club</span> ?</h2>
        <p>Publiez vos photos, racontez votre journée, vos évènements, vos blagues sur les mortels ... Discutez avec vos pairs, où que vous soyez. Partagez vos émotions avec vos amis.</p>
    </div>
    <div class="decoHome deco2"></div>
    <div class="paraph3">
        <h2>Crédits</h2>
        <ul>
            <li>Images :
                <ul>
                    <li>Peinture page d'accueil : Giulio Romano, Noces de Psyché et Cupidon</li>
                    <li>Logo : généré par IA</li>
                    <li>Dessins : <a href="http://www.freepik.com">rawpixel.com / Freepik</a></li>
                    <li>Image page Not Found : <a href="https://pixabay.com/users/jennyt23-40815189/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8403960">Jenny Toms</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8403960">Pixabay</a></li>
                    <li>Image poubelle : <a href="https://pixabay.com/users/mostafaelturkey97-15134311/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6490105">Mostafa Elturkey</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6490105">Pixabay</a></li>
                </ul>
            </li>
            <li>Police de caractères : Google Fonts</li>
        </ul>
        <h2>RGPD</h2>
        <p>...</p>
    </div>
</div>
