form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

input {
    padding: 0rem 2rem;

}



.ng-valid:not(form) {
    border: 5px solid green;
}
.ng-invalid.ng-touched:not(form) {
    border: 5px solid red;
}