<section>
    <div class="logoBig"></div>

    <form [formGroup]="form" (ngSubmit)="sentFormData()">
        <h2>Inscription</h2>
        <p class="instruction">Tous les champs doivent être remplis</p>

        <div class="form-control">
            <label>Nom 
            <input
                type="text"
                formControlName="name"
            />
            </label>
            @if(form.controls.name.touched && form.controls.name.errors) {
                @if(form.controls.name.touched && form.controls.name.errors['required']) {
                    <p>Vous devez préciser votre nom</p>
                }
                @if(form.controls.name.touched && form.controls.name.errors['minlength']) {
                    <p>Votre nom doit comporter au moins 3 caractères</p>
                }
            }
        </div>   

        <div class="form-control">
            <label>Pseudo 
            <input
                type="text"
                formControlName="pseudo"
                placeholder="Pseudo visible par les membres"
            />
            </label>
            @if(form.controls.pseudo.touched && form.controls.pseudo.errors) {
                @if(form.controls.pseudo.touched && form.controls.pseudo.errors['required']) {
                    <p>Vous devez saisir un pseudo</p>
                }
                @if(form.controls.pseudo.touched && form.controls.pseudo.errors['minlength']) {
                    <p>Votre pseudo doit comporter au moins 5 caractères</p>
                }
            }
        </div>
        
        <div class="form-control">
            <label>E-mail 
            <input type="text" formControlName="email" placeholder="toto@totoland.fr" />
            </label>
            @if(form.controls.email.touched && form.controls.email.errors) {
                @if (form.controls.email.hasError('invalidDomain')) {
                    <p>Les boites mail jetables ne sont pas autorisées</p>
                }
                @else {
                    <p>Vous devez saisir une adresse e-mail valide</p>
                }
            }
        </div>

        <div class="form-control">
            <label>Mot de passe 
            <input
                type="password"
                formControlName="password"
            />
            </label>
            @if(form.controls.password.touched && form.controls.password.errors) {
                @if(form.controls.password.touched && form.controls.password.errors['required']) {
                    <p>Vous devez saisir un mot de passe</p>
                }
                @if(form.controls.password.touched && form.controls.password.errors['minlength']) {
                    <p>Votre mot de passe doit comporter au moins 5 caractères</p>
                }
                @if(form.controls.password.touched && form.controls.password.errors['maxlength']) {
                    <p>Votre mot de passe doit moins de 30 caractères</p>
                }
                @if(form.controls.password.touched && form.controls.password.errors['pattern']) {
                    <p>Votre mot de passe doit comporter au moins 1 majuscule, 1 minuscule, 1 chiffre et 1 caractère spécial</p>
                }
            }
        </div>

        <div class="form-control">
            <label>Type de divinité </label>
            <select formControlName="divinity">
                <option value="god">Dieu/Déesse</option>
                <option value="titan">Titan/Géant</option>
                <option value="half-god">Demi-Dieu/Demi-Déesse</option>
                <option value="childfOfGod">Fils/Fille de Dieu Déesse</option>
                <option value="spirit">Esprit</option>
                <option value="angel">Angel</option>
                <option value="demon">Démon</option>
                <option value="heroe">Héros/Héroïne</option>
                <option value="saint">Saint/Sainte</option>
                <option value="prophet">Prophète</option>
                <option value="other">Autre</option>
            </select>  
            
            @if(form.controls.divinity.touched && form.controls.divinity.errors) {
                @if(form.controls.divinity.touched && form.controls.divinity.errors['required']) {
                    <p>Vous devez préciser votre type de divinité</p>
                }
            }
        </div>

        <div class="form-control">
            <label>Panthéon </label>
                <select formControlName="pantheon">
                    <option value="africa">Africain</option>
                    <option value="aztek">Aztèque</option>
                    <option value="celtic">Celtique</option>
                    <option value="chinese">Chinois</option>
                    <option value="egypt">Égyptien</option>
                    <option value="gaule">Gaulois</option>
                    <option value="greec">Grec</option>
                    <option value="hindou">Hindou</option>
                    <option value="inca">Inca</option>
                    <option value="indian">Indien d'Amérique</option>
                    <option value="japan">Japonais</option>
                    <option value="maya">Maya</option>
                    <option value="mesopotamia">Mésopotamien</option>
                    <option value="nordic">Nordique</option>
                    <option value="roman">Romain</option>
                    <option value="theBook">Chrétien/Juif/Musulman</option>
                    <option value="other">Autre</option>
                </select>
            
            @if(form.controls.pantheon.touched && form.controls.pantheon.errors) {
                @if(form.controls.pantheon.touched && form.controls.pantheon.errors['required']) {
                    <p>Vous devez préciser votre panthéon</p>
                }
            }
        </div>
        <!-- <div class="form-control">
            <label>Avatar 
                <input type="file" 
                accept="image/*"
                formControlName="avatar"/>
            </label>
            @if(form.controls.avatar.touched && form.controls.avatar.errors) {
                @if(form.controls.avatar.touched && form.controls.avatar.errors['required']) {
                    <p>Vous devez charger une image</p>
                }
            }
        </div> -->
        
        <button [disabled]="form.invalid">Soumettre</button>

    </form>
</section>
