<section>
    <div class="logoBig"></div>

    <form [formGroup]="form" (ngSubmit)="sentFormData()">
        <!-- @if (form.invalid) {
            @if (form.get('email')?.hasError('exists')){ 
                <p>Cet e-mail est déjà utilisé</p>
            }
        } -->
        <h2>Inscription</h2>
        <app-error-message [errorMessage]="errorMessage"></app-error-message>
        <p class="instruction">Tous les champs doivent être remplis</p>

        <div class="form-control">
            <label>Nom 
            <input
                type="text"
                formControlName="name"
            />
            </label>
            @if(form.controls.name.touched && form.controls.name.errors) {
                @if(form.controls.name.touched && form.controls.name.errors['required']) {
                    <p>Vous devez préciser votre nom</p>
                }
                @if(form.controls.name.touched && form.controls.name.errors['minlength']) {
                    <p>Votre nom doit comporter au moins 3 caractères</p>
                }
            }
        </div>   

        <div class="form-control">
            <label>Pseudo 
            <input
                type="text"
                formControlName="pseudo"
                placeholder="Pseudo visible par les membres"
            />
            </label>
            @if(form.controls.pseudo.touched && form.controls.pseudo.errors) {
                @if(form.controls.pseudo.touched && form.controls.pseudo.errors['required']) {
                    <p>Vous devez saisir un pseudo</p>
                }
                @if(form.controls.pseudo.touched && form.controls.pseudo.errors['minlength']) {
                    <p>Votre pseudo doit comporter au moins 5 caractères</p>
                }
                @if (form.get('pseudo')?.hasError('exists')){ 
                    <p>Ce pseudo est déjà utilisé</p>
                }
            }
        </div>
        
        <div class="form-control">
            <label>E-mail 
            <input type="text" formControlName="email" placeholder="toto@totoland.fr" />
            </label>
            @if(form.controls.pseudo.touched && form.controls.pseudo.errors) {
                @if (form.controls.email.hasError('invalidDomain')) {
                    <p>Les boites mail jetables ne sont pas autorisées</p>
                }
                @if (form.get('email')?.hasError('exists')){ 
                    <p>Cet e-mail est déjà utilisé</p>
                }
                <!-- @else {
                    <p>Vous devez saisir une adresse e-mail valide</p>
                } -->
            }
        </div>

        <div class="form-control">
            <label>Mot de passe 
            <input
                type="password"
                formControlName="password"
            />
            </label>
            @if(form.controls.password.touched && form.controls.password.errors) {
                @if(form.controls.password.touched && form.controls.password.errors['required']) {
                    <p>Vous devez saisir un mot de passe</p>
                }
                @if(form.controls.password.touched && form.controls.password.errors['minlength']) {
                    <p>Votre mot de passe doit comporter au moins 5 caractères</p>
                }
                @if(form.controls.password.touched && form.controls.password.errors['maxlength']) {
                    <p>Votre mot de passe doit moins de 30 caractères</p>
                }
                @if(form.controls.password.touched && form.controls.password.errors['pattern']) {
                    <p>Votre mot de passe doit comporter au moins 1 majuscule, 1 minuscule, 1 chiffre et 1 caractère spécial, mais pas d'accentuation</p>
                }
            }
        </div>

        <div class="form-control">
            <label>Type de divinité </label>
            <select formControlName="divinity">
                <option value="Dieu/Déesse">Dieu/Déesse</option>
                <option value="Titan/Géant">Titan/Géant</option>
                <option value="Demi-Dieu/Demi-Déesse">Demi-Dieu/Demi-Déesse</option>
                <option value="Fils/Fille de Dieu/Déesse">Fils/Fille de Dieu/Déesse</option>
                <option value="Esprit">Esprit</option>
                <option value="Ange">Ange</option>
                <option value="Démon">Démon</option>
                <option value="Héros/Héroïne">Héros/Héroïne</option>
                <option value="Saint/Sainte">Saint/Sainte</option>
                <option value="Prophète">Prophète</option>
                <option value="Autre">Autre</option>
            </select>  
            
            @if(form.controls.divinity.touched && form.controls.divinity.errors) {
                @if(form.controls.divinity.touched && form.controls.divinity.errors['required']) {
                    <p>Vous devez préciser votre type de divinité</p>
                }
            }
        </div>

        <div class="form-control">
            <label>Panthéon </label>
                <select formControlName="pantheon">
                    <option value="Africain">Africain</option>
                    <option value="Aztèque">Aztèque</option>
                    <option value="Celtique">Celtique</option>
                    <option value="Chinois">Chinois</option>
                    <option value="Égyptien">Égyptien</option>
                    <option value="Gaulois">Gaulois</option>
                    <option value="Grec">Grec</option>
                    <option value="Hindou">Hindou</option>
                    <option value="Inca">Inca</option>
                    <option value="Indien d'Amérique">Indien d'Amérique</option>
                    <option value="Japonais">Japonais</option>
                    <option value="Maya">Maya</option>
                    <option value="Mésopotamien">Mésopotamien</option>
                    <option value="Nordique">Nordique</option>
                    <option value="Romain">Romain</option>
                    <option value="Chrétien/Juif/Musulman">Chrétien/Juif/Musulman</option>
                    <option value="Autre">Autre</option>
                </select>
            
            @if(form.controls.pantheon.touched && form.controls.pantheon.errors) {
                @if(form.controls.pantheon.touched && form.controls.pantheon.errors['required']) {
                    <p>Vous devez préciser votre panthéon</p>
                }
            }
        </div>
        <!-- <div class="form-control">
            <label>Avatar 
                <input type="file" 
                accept="image/*"
                formControlName="avatar"/>
            </label>
            @if(form.controls.avatar.touched && form.controls.avatar.errors) {
                @if(form.controls.avatar.touched && form.controls.avatar.errors['required']) {
                    <p>Vous devez charger une image</p>
                }
            }
        </div> -->
        
        <button [disabled]="form.invalid">Soumettre</button>

    </form>
</section>
